<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

    <div class="texto-total">
        <h1>Bem vindo a Homepage</h1>
        <h3>Iniciando estudos com Node.js e Express</h3>
        <p>Esta página está sendo renderizada com o EJS no Express</p>
        <br>
        <img src="/imgs/nodejs.png" alt="nodejs">
    </div>

    <%- include ('partials/footer.ejs') %>